
<table id="ctl00_tblMaster" class="MasterContent" cellpadding="0" cellspacing="0">
	<tbody><tr>
		<td class="SidePanel">
      <ul class="rootGroup">
        <li class="item"><a [routerLink]="['/profile']" routerLinkActive="router-link-active"> Profilul meu</a></li>
        <li class="item"><a  [routerLink]="['/documente']" routerLinkActive="router-link-active" >Documente</a></li>
        <li class="item last"><a [routerLink]="['/exam']" routerLinkActive="router-link-active"  >Examen admitere</a></li>
        <li class="item"> <a [routerLink]="['/contact']" routerLinkActive="router-link-active" >Contact</a></li>
      </ul>
</td>
<td>

</td>
</tr>
</tbody>
</table>
<section class="page-section bg-primary">
  
    <div class="row justify-content-center">
      <div class="col-lg-8 text-center">
        <p class="text-white-50 mb-4">ÎNSCRIERI</p>
        <hr class="divider">
  <p>
    Începând cu data de 1 iunie vă puteti înscrie la Universitate, aplicând online prin crearea unui cont. Procesul constă în încarcarea documentelelor necesare  în sectiunea documente și sustinerea testului necesar admiterii din sectiunea test.<br>
    Înscrierea online este validă numai cu atașarea dovezii achitării taxei de înscriere în valoare de 150 lei.<br>
    Universitatea va verifica dosarul dumneavoastră si dacă sunteti admis veti fi contactat pentru a depune actele in original la secretariatul Universitatii
 </p>
</div>
</div>

</section>
