<table id="ctl00_tblMaster" class="MasterContent" cellpadding="0" cellspacing="0">
	<tbody><tr>
		<td class="SidePanel">
      <ul class="rootGroup">
        <li class="item first"><a href="javascript:void(9)" id="ctl00_radMenu_p0" class="link "><span class="text">Bio</span></a></li>
        <li class="item"><a href="/my/bio/personaldata.aspx" id="ctl00_radMenu_p1" class="link "><span class="text"><i class="fa fa-square-o"></i> Date personale</span></a></li>
        <li class="item"><a href="javascript:void(1)" id="ctl00_radMenu_p6" class="link "><span class="text">Înscriere</span></a></li>
        <li class="item"><a href="/my/documents.aspx" id="ctl00_radMenu_p9" [routerLink]="['/documente']" routerLinkActive="router-link-active" ><span class="text">Documente</span></a></li>
        <li class="item"><a href="/my/payments.aspx" id="ctl00_radMenu_p10" class="link "><span class="text">Plată taxe</span></a></li>
        <li class="item"><a href="/home.aspx?action=logout" id="ctl00_radMenu_p13" class="link "><span class="text">Logout</span></a></li>
        <li class="item"><a [routerLink]="['/contact']">Contact</a></li>
        <li class="item last"><a href="/info/terms.aspx" id="ctl00_radMenu_p21" class="link "><span class="text">Termeni și condiții</span></a></li>
			</ul>