<div class="container mt-5">
  <div *ngIf="!registerMode" style="text-align: center">
    <h1>Admitere Online</h1><br>
    <p class="lead">Universitatea Hyperion da startul inscrierilor pentru anul universitar 2020-2021, in data de 1 iunie 2020</p><br>
    <div class="text-center">
      <button class="btn btn-primary btn-lg mr-2" (click)="registerToggle()">Creare cont</button>
      <button class="btn btn-info btn-lg">Afla mai multe</button>
    </div>
  </div>

  <div *ngIf="registerMode" class="container">
    <div class="row justify-content-center">
      <div class="col-4">
        <app-register (cancelRegister)="cancelRegisterMode($event) "></app-register>
      </div>
    </div>
  </div>
</div>
 
