<div class="container mt-5">
  <div *ngIf="!registerMode" style="text-align: center">
    <h1>Admitere Online</h1><br>
    <p class="lead">Înscrierile pentru anul universitar 2020-2021 încep în  data de 1 iunie 2020. Pentru a aplica online este nevoie să vă creati un cont.<br>
      Universitatea dispune de mai multe facultăţi din cadrul cărora vă puteţi alege departamentul dorit
    </p>
    
    <hr class="divider">
    <div class="text-center">
      <button class="btn btn-primary btn-lg mr-2" (click)="registerToggle()">Creare cont</button>
      <button class="btn btn-info btn-lg" [routerLink]="['/facultati']">Afla mai multe</button>
    </div>
  </div>

  <div *ngIf="registerMode" class="container">
    <div class="row justify-content-center">
      <div class="col-4">
        <app-register (cancelRegister)="cancelRegisterMode($event) "></app-register>
      </div>
    </div>
  </div>
</div>
