<section class="page-section" id="Contact">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-8 text-center">
        <h2 class="mt-0">Contact</h2>
        <hr class="divider my-4" />
        <p class="text-muted mb-5"> Universitatea Hyperion din Bucureşti
         <br>Adresa: Calea Călăraşilor 169, Sector 3, Bucureşti, 030615</p>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 ml-auto text-center mb-5 mb-lg-0">
        <i class="fas fa-phone fa-3x mb-3 text-muted"></i>
        <div>+4 021-327.44.64</div>
      </div>
      <div class="col-lg-4 mr-auto text-center">
        <i class="fas fa-envelope fa-3x mb-3 text-muted"></i>
        <a class="d-block" href="mailto:secretariat@hyperion.ro">secretariat@hyperion.ro</a>
      </div>
    </div>
  </div>
</section>