
<div style="position:absolute; top:100px; left:100px;"></div>
<table border="1" width="100%" height="100%" >
	<tr>
		<td><iframe src="http://localhost:4200/home" routerLinkActive="router-link-active"  style="height:100%;width:100%"></iframe></td>
		<td><iframe src="http://b.com" style="height:100%;width:100%"></iframe></td>
	</tr>
	<tr>
		<td><iframe src="http://c.com" style="height:100%;width:100%"></iframe></td>
		<td><iframe src="http://d.com" style="height:100%;width:100%"></iframe></td>
	</tr>
</table>
