
<section class="page-section bg-primary">
<table border="1" width="100%" height="100%">
  <tr>
    <td>
      <div class="col-lg-8 text-center">
        <h3 class="text-white">Facultatea de Ştiinţe Exacte</h3>
        <hr class="divider light my-4" />
        <h3 class= "text-white" >Specializări</h3>
        </div>
        <ul style="list-style-type:none;">
          <li>Specializare 1 &nbsp; <span>&#8658;</span> &nbsp; Taxă de şcolarizare: 3000/an</li>
          <br>
          <li>Specializare 1 &nbsp; <span>&#8658;</span> &nbsp; Taxă de şcolarizare: 3000/an</li> 
          <br>  
          <li>Specializare 1 &nbsp; <span>&#8658;</span> &nbsp; Taxă de şcolarizare: 3000/an</li>
        </ul>
    </td>
    <td>
      <div class="col-lg-8 text-center">
        <h3 class="text-white">Facultatea de Ştiinţe Exacte</h3>
        <hr class="divider light my-4" />
        <h3 class= "text-white" >Specializări</h3>
        </div>
        <ul style="list-style-type:none;">
          <li>Specializare 1 &nbsp; <span>&#8658;</span> &nbsp; Taxă de şcolarizare: 3000/an</li>
          <br>
          <li>Specializare 1 &nbsp; <span>&#8658;</span> &nbsp; Taxă de şcolarizare: 3000/an</li> 
          <br>  
          <li>Specializare 1 &nbsp; <span>&#8658;</span> &nbsp; Taxă de şcolarizare: 3000/an</li>
        </ul>
    </td>
  </tr>
  <br style="display: none">
  <tr>
    <td>
      <div class="col-lg-8 text-center">
        <h3 class="text-white">Facultatea de Ştiinţe Exacte</h3>
        <hr class="divider light my-4" />
        <h3 class= "text-white" >Specializări</h3>
        </div>
        <ul style="list-style-type:none;">
          <li>Specializare 1 &nbsp; <span>&#8658;</span> &nbsp; Taxă de şcolarizare: 3000/an</li>
          <br>
          <li>Specializare 1 &nbsp; <span>&#8658;</span> &nbsp; Taxă de şcolarizare: 3000/an</li> 
          <br>  
          <li>Specializare 1 &nbsp; <span>&#8658;</span> &nbsp; Taxă de şcolarizare: 3000/an</li>
        </ul>
    </td>
    <td>
      <div class="col-lg-8 text-center">
        <h3 class="text-white">Facultatea de Ştiinţe Exacte</h3>
        <hr class="divider light my-4" />
        <h3 class= "text-white" >Specializări</h3>
        </div>
        <ul style="list-style-type:none;">
          <li>Specializare 1 &nbsp; <span>&#8658;</span> &nbsp; Taxă de şcolarizare: 3000/an</li>
          <br>
          <li>Specializare 1 &nbsp; <span>&#8658;</span> &nbsp; Taxă de şcolarizare: 3000/an</li> 
          <br>  
          <li>Specializare 1 &nbsp; <span>&#8658;</span> &nbsp; Taxă de şcolarizare: 3000/an</li>
        </ul>
    </td>
  </tr>
</table>
</section>