.upload{
    font-weight:bold;
    color:#28a745;
    margin-left: 15px;
    line-height: 36px;
}

.page-section {
    padding: 4rem 0;
    border: 1px solid black;
    margin: 25px 50px 75px 100px;
    border-radius: 15px;
    text-align: center;
  }

.container{
    border: 1px solid black;
    margin: 15px 50px 50px 100px;
  }
  .container{
    color: #ffa500;
     text-align: center;}

     .col-lg-8{
        position: relative;
        width: 100%;
        padding-right: 15px;
        padding-left: 15px;
     }

 hr {
        box-sizing: content-box;
        height: 0;
        overflow: visible;
     }
 hr.divider {
        max-width: 3.25rem;
        border-width: 0.2rem;
        border-color: #f4623a;
 }

 .btn-success {
  background-image: linear-gradient(#f4623a, #f4623a 60%, #f4623a);
  border-radius: 15%;
 }