<section class="page-section bg-primary" id="Universitate">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-8 text-center">
        <h2 class="text-white mt-0">Despre noi</h2>
        <hr class="divider light my-4" />
        <p class="text-white-50 mb-4">Admitere Online<br>
        <p class="text-white-50 mb-4">Trăim într-o lume debordantă de posibilități si suntem inundați de opțiuni potențiale pentru tot
          ceea ce vrem să facem. Aceasta include si platforme de dezvoltare atunci când dorim sa
          dezvoltam o aplicație nouă si deaceea am luat în considerare toate opțiunile pentru a ma asigura
          că am ales tehnologiile potrivite.
          Primul pas in dezoltarea unei aplicatii consta in stabilrea specificatiilor apoi urmeaza alegerea
          tehnologiilor. Avand o viziune clara asupra specificatiilor aplicatiei pe care doresc sa o dezvolt si
          tinand cont de diversi factori ce tin de aplicatie in sine, scalabilitatea aplicatiei, timpul alocat
          dezvoltarii, securizarea, am ales sa folosesc tehnologii de actualitate,open-source, care detin o
          comunitate largă de programatori,
        </p>
        <a class="btn btn-light btn-xl js-scroll-trigger"  routerLink="/Login" routerLinkActive='active'>Admitere</a>
      </div>
    </div>
  </div>
</section>