.page-section {
    padding: 4rem 0;
    border: 1px solid black;
    margin: 25px 50px 75px 100px;
    border-radius: 15px;
  }
  .bg-primary {
    background-color: grey;
  }
  .btn {
      background-color: #f4623a;
      }
  
  
 hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}
hr.divider {
  max-width: 3.25rem;
  border-width: 0.2rem;
  border-color: #f4623a;
}