<section class="page-section bg-primary" id="Universitate">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-8 text-center">
        <h2 class="text-white mt-0">Despre noi</h2>
        <hr class="divider light my-4" />
        <p class="text-white-50 mb-4">ISTORIC ȘI MISIUNE<br>
        <p class="text-white-50 mb-4">PROCESUL DIDACTIC</p>
        <p class="text-white-50 mb-4">Universitatea Hyperion a fost înfiinţată în 1990 odată cu Fundaţia Universitară Hyperion, ca asociaţie cultural ştiinţifică, neguvernamentală, apolitică, de tip non-profit, cu un număr iniţial de 5 facultăţi.
          'În prezent, Universitatea are în structura sa 17 programe de studii de licenţă (specializări) şi 16 programe de masterat acreditate, acoperind o paletă largă de domenii și specializări în concordanță cu cerințele pieței muncii (de la științe socio-umane și arte până la cele exacte și inginerești).',
         'Întregul proces de pregătire universitară este proiectat pe baza unor planuri de învăţământ moderne, care țin pasul cu avansul științific și tehnologic, corelate cu planurile de învăţământ internaționale și conforme cerințelor ARACIS.',
        'Temeinica pregătire de specialitate a studenţilor Universităţii Hyperion din Bucureşti rezultă şi din procentul de peste 90% al absolvenţilor care au promovat examenele de licenţă și de un număr de peste 30.000 de licenţiaţi care au fost angajați în cele mai diverse domenii de activitate, precum şi în învăţământul preuniversitar şi universitar, în institute de cercetare, administraţie, instituţii financiare şi social-culturale, media, etc, apreciați pentru competența și rigurozitatea care le-a fost cultivată la Universitatea Hyperion. De altfel, obiectivul principal al instituției îl reprezintă creșterea gradului de absorbție al absolvenților pe piața muncii de la 90% la 100%.',
        </p>
        <a class="btn btn-light btn-xl js-scroll-trigger"  routerLink="/Login" routerLinkActive='active'>Admitere</a>
      </div>
    </div>
  </div>
</section>